body {
  background-image:url("reback.png") ;
  background-size: 53px;
  background-repeat: repeat;
  font-family:Georgia, 'Times New Roman', Times, serif;
  size: 26px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  color: #ffffff;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

ul {
  text-align: left;
  display: inline-block;
  padding-left: 20px;
}

a:link, a:visited {
  color: rgb(255, 255, 255);
  background-color: #e2007f;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: #e24ea1;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
}